<div class="flex flex-col">
  <span *ngIf="daToSelectedExchangeCurrency$ | async as currency">
    <span class="text-xs text-c-secondary-dark">{{ currency.toCurrency.currency }}</span>
    {{ costs | costType: costType:costOption | exchange: currency | amount }}
  </span>

  <span *ngIf="daToBaseExchangeCurrency$ | async as currency" class="text-xs text-c-secondary-dark">
    {{ currency.toCurrency.currency }}
    {{ costs | costType: costType:costOption | exchange: currency | amount }}
  </span>
</div>
