<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full leading-normal table-fixed">
          <thead class="border border-c-primary bg-c-primary text-sm text-c-white text-left font-medium">
            <tr>
              <th scope="col" class="px-4 py-4">{{ expenseCategory.name }}</th>
              <th scope="col" class="px-4 py-4">Account code</th>
              <th scope="col" class="px-4 py-4 text-right">Quoted</th>
              <th scope="col" class="px-4 py-4 text-right">Screened</th>
              <th scope="col" class="px-4 py-4"></th>
            </tr>
          </thead>
          <tbody class="border-x border-c-secondary">
            <ng-container *ngFor="let item of expenseCategory.costItems; trackBy: trackById">
              <tr class="bg-white border-t border-c-secondary text-sm text-c-primary-dark break-words">
                <td class="px-4 py-4">{{ item.name }}</td>
                <td class="px-4 py-4">
                  {{ item.costItemAlias.accountingCode }}
                </td>
                <td class="px-4 py-4 text-right">
                  <costs-calculations [costs]="item.costs" costType="Quoted"></costs-calculations>
                </td>
                <td class="px-4 py-4 text-right">
                  <costs-calculations [costs]="item.costs" costType="Screened"></costs-calculations>
                </td>
                <td class="px-4 py-4 text-center">
                  <button type="button" [expansionPanel]="expand">
                    <notes-counter [count]="item.comments?.length ?? 0"></notes-counter>
                  </button>
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  <expansion-panel #expand>
                    <ng-container *lazyContent>
                      <notes [notes]="item.comments"></notes>
                    </ng-container>
                  </expansion-panel>
                </td>
              </tr>
            </ng-container>

            <tr class="bg-white border-y border-b-c-secondary c-primary-dark border-t-c-primary border-t-2 text-sm">
              <td class="px-4 py-4 font-bold" colspan="2">Total</td>
              <td class="px-4 py-4 text-right">
                <costs-calculations [costs]="allCosts" [isSum]="true" costType="Quoted"></costs-calculations>
              </td>
              <td class="px-4 py-4 text-right">
                <costs-calculations [costs]="allCosts" [isSum]="true" costType="Screened"></costs-calculations>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
