<div class="px-6 bg-c-primary-light">
  <ng-container *ngIf="notesExists">
    <div
      class="flex justify-between py-4 text-c-primary-dark border-b border-c-secondary"
      *ngFor="let note of notes">
      <div class="flex items-center">
        <div
          [ngClass]="{
            'border border-c-secondary bg-c-white text-c-secondary': note.type === 'Internal',
            'border border-c-comment-secondary bg-c-primary-dark text-c-white': note.type === 'External'
          }"
          class="rounded-full text-xs px-2 py-1 mr-24">
          {{ note.type }}
        </div>
        <span>{{ note.comment }}</span>
      </div>
      <div class="flex">
        <span class="pr-4">{{ note.author }}</span>
        <span class="pr-8 text-c-secondary-dark">{{ note.date | date: dateFormat }}</span>
      </div>
    </div>
  </ng-container>

  <div class="flex justify-center text-c-red py-3">Adding comments is not yet implemented</div>
</div>
